body{
    overflow-x: hidden;
    margin: 0;
    background-color: #F1E6E0;
    font-family: 'PT Serif', serif;
}
.container{
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    display:block;
    background-color: #E1D5C4;
    box-shadow: 5px 5px 5px #b83e1c;
}
.middle-box{
    margin: 0 9rem;
}

.who{
    margin: 100px 0 0 220px;
    color: #641702;
    font-size: 1.5rem;
}
.name{
    margin-top: 0;
    color: #320c01;
    margin-left: 220px;
    font-size: 3.2rem;
}
.left{ 
    float: left;
}
.pic{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-image: url("./adadevoh2.jpeg");
    background-size: cover;
    float: right;
    margin: 30px 220px 0 0 ;
}
.hero{
    margin-left: 100px;
    font-weight: 600;
    color: #320c01;
    font-size: 0.9rem;
}
.lived{
    margin: 10px 0 0 240px;
    color: #320c0198;
    color: #320c01;
}
.text{
    margin-top: 50px;
    color: #320c01;
    font-weight: 600;
}
.career{
    color: #320c01;
    font-size: 3rem;
}
.about{
    color: #432E28;
}
.bottom-container{
    width:100vw;
    height: 50vh;
    background-color: #320c01;
    margin-top: 30px;
}
.more{
    padding-top: 90px;
    text-align: center;
    color: #C49173;
    font-size: 2.5rem;
}
.link{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}
.wiki{
    text-align: center;
    color: #C49173;
    font-size: 1.2rem;
}